[submodule "lang/CodeOfLanguages"]
	path = lang/CodeOfLanguages
	url = ../PLLearningGround.git
[submodule "desktop/GUITutorials"]
	path = desktop/GUITutorials
	url = git@github.com:djndl1/GUITutorials.git
[submodule "cloud/middleware/MiddlewareTutorials"]
	path = cloud/middleware/MiddlewareTutorials
	url = git@github.com:djndl1/MiddlewareTutorials.git
