a.out
*ipch
*.class
*res*
*.ccls-cache
*.o
*.html
*.exe
*elf
*.celf
**/.gdb_history
*.relf
*.elf
*.mdb
*.pdb
**/build/*
__pycache__
.ipynb_checkpoints
.vscode
.ipynb_checkpoints/*
*.params
*.log
*.swp
